.article {
  margin: 0 auto;
  //   min-width: 80%;
  width: 100%;
}

.article__heading {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.article__main {
  display: flex;
  border: 1.2px solid rgba(135, 135, 135, 0.5);
  margin: 0 0.5rem 1.5rem;
  padding: 15px;
  border-radius: 10px;
}

.article__wrapper {
  flex: 4;
  margin-right: 5px;
}

.article__title {
  &:hover {
    text-decoration: underline;
  }
}

.article__time {
  font-size: 0.8em;
  opacity: 0.6;
}

.article__img {
  object-fit: contain;
  width: 100%;
  border-radius: 5px;
  max-height: 100px;
  margin-right: 10px;
  flex: 1;
}
